.DS_store
.ipynb_checkpoints/
*.sav
frontend/src/config/fbConfig.js

# Begin CRA Generated .gitignore

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend.pnp.js

# testing
frontend/coverage

# firebase config
frontend/config/fbConfig.js

# production
frontend/build
frontend/dist

# misc
frontend.DS_Store
frontend.env.local
frontend.env.development.local
frontend.env.test.local
frontend.env.production.local

frontendnpm-debug.log*
frontendyarn-debug.log*
frontendyarn-error.log*

# note book stuff
notebook/__pycache__
notebook/mlforall-admin-sdk.json
notebook/Pokemon.csv
notebook/simple_top50.csv
notebook/top50.csv


# api stuff
api/__pycache__
api/src/local_stats/__pycache__
api/src/__pycache__
api/src/mlforall-admin-sdk.json
# vscode
.vscode

