.evenRow {
	background-color: #ffffff;
}
.oddRow {
	background-color: #faf8f8;
}
.card-model {
	height: 12.5rem;
}
.card-model-clicked {
	height: 12.5rem;
	background-color: #dcdcdc;
}
.card-action-clicked {
	color: #dcdcdc !important;
	background-color: #1d276e !important;
}
.create-animation {
	animation-name: card;
	animation-duration: 350ms;
	animation-iteration-count: 1;
}
.option-lists {
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 21.2677px;
	line-height: 40px;
}
.circle {
  width: 36px;
  height: 36px;
	line-height: 24px;
	border: 1px solid black;
  border-radius: 50%;
	font-size: 21px;
	font-weight: bold;
  color: black;
  text-align: center;
	background: white;
	padding-top: 5px;
}
.number-image {
	padding-left: 50px;
	background-position: 0 0;
	background-size: 36px 36px;
	background-repeat: no-repeat;
}
