.card-action {
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  background-color: white !important;
  color: grey;
  height: 55px;
}

.card-picture {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eeeeee;
  background-position: center;
  color: white;
  height: 150px;
}

.card {
  border-radius: 30px;
  background-color: white;
  color: black;
  transition: transform 100ms, box-shadow 100ms;
  animation-name: card;
  animation-duration: 310ms;
  animation-iteration-count: 1;
}
@keyframes card {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(0.96);
  }
  10% {
    transform: scale(0.97);
  }
  15% {
    transform: scale(0.98);
  }
  20% {
    transform: scale(0.99);
  }
  80% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px grey !important;
}
.card-content {
  border-top-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}
