.MuiDialog-paper{
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
	border-top-right-radius: 30px !important;

}
