h1,
h2,
h4,
h6 {
	/* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
	/* font-family: "Roboto", sans-serif; */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
	/* letter-spacing: 0.12rem; */
}
.pres {
	font-size: 1.2rem;
}

/* Fix for the flying logo */
@media only screen and (min-width: 565px) {
	.brand-logo {
		left: 15% !important;
	}
}
@media only screen and (max-width: 565px) {
	.brand-logo,
	.btn-floating,
	.notif-card {
		display: none !important;
	}
}

.card-action {
	border-bottom-left-radius: 30px !important;
	border-bottom-right-radius: 30px !important;
	background-color: #283593 !important;
	color: white;
	height: 55px;
}
.card {
	border-radius: 30px;
	background-color: white;
	color: black;
}
.card-content {
	border-top-left-radius: 30px !important;
	border-top-right-radius: 30px !important;
}
.content-sum {
	height: 150px;
}
.purple-text {
	color: #283593 !important;
}
.pink-text {
	color: #f8bbd0 !important;
}
.yellow-warning-text {
	color: #ffcc00 !important;
}
.btn-floating {
	background-color: #283593;
	display: inline-block !important;
}
.btn {
	font-weight: bold;
	background-color: #283593;
	border-color: #283593;
	border-radius: 30px;
	border-width: 2px;
	border-style: solid;
	display: table-cell;
	vertical-align: middle;
}
.btn:focus {
	background-color: #283593;
}
.btn:hover {
	background-color: #6e689be0;
}
.btn-outline {
	color: #283593;
	border-color: #283593;
	border-width: 2px;
	border-style: solid;
	background-color: transparent;
}
.btn-outline:focus {
	background-color: transparent;
}
.btn-outline:hover {
	background-color: #9e98d12a;
}
.btn-sec {
	background-color: #f8bbd0;
	color: black;
}
.btn-sec:focus {
	background-color: #f8bbd0;
}
.btn-sec:hover {
	background-color: #ffdce8ed;
}
.btn-large {
	border-radius: 30px;
	background-color: #283593;
}
.btn-large:focus {
	background-color: #283593;
}
.btn-large:hover {
	background-color: #6e689be0;
}
.project-summary {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav-wrapper {
	background-color: #ffffff;
	border-width: 0px;
	box-shadow: 0 0 0 0;
}
.right a:hover,
.right button:hover {
	background: #db91b67e;
}
.hearts {
	color: #f8bbd0;
}
a {
	color: #283593;
}
.MuiCircularProgress-colorPrimary {
	color: #f8bbd0 !important;
}
.MuiSvgIcon-root {
	color: #f8bbd0 !important;
}
.MuiSlider-root {
	color: #283593 !important;
}
.MuiMenuItem-root {
	font-size: 1.1rem !important;
}
.MuiSelect-root {
	font-size: 1.5rem !important;
	color: #283593 !important;
	font-weight: 600 !important;
	padding-bottom: 0px !important;
}
.slider-title {
	padding-top: 2rem;
}
.slider-row {
	background-color: #e9e9e9;
}
.slider-contain {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	min-height: 10rem;
}
