html {
	min-height: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background: url(images/background.jpg) no-repeat;
	background-size: 100%;
	background-position: bottom;
	background-color: #e2e1e1;
	min-height: 100%;
	*/
	background-color: rgb(251, 251, 251);
}

form {
	padding-top: calc(8px + 2vh + 0.2vw);
	padding-bottom: calc(8px + 2vh + 0.2vw);
	padding-left: calc(15px + 3vh + 0.7vw);
	padding-right: calc(15px + 3vh + 0.7vw);
}

form button,
form h5 {
	margin: calc(5px + 0.5vh + 0.1vw) 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-color: #2f81eb;
	box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
	color: #2f81eb !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.hearts {
	color: #db91b6;
}
