h1 {
	/* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	letter-spacing: 0.12rem;
}

/* Fix for the flying logo */
@media only screen and (min-width: 565px) {
	.brand-logo {
		left: 15% !important;
	}
}
@media only screen and (max-width: 565px) {
	.brand-logo,
	.btn-floating {
		display: none !important;
	}
}

.card-action {
	border-bottom-left-radius: 30px !important;
	border-bottom-right-radius: 30px !important;
	background-color: #283593 !important;
	color: white;
}
.card {
	border-radius: 30px;
	background-color: white;
	color: black;
}

.purple-text {
	color: #283593 !important;
}

.btn-floating {
	background-color: #283593;
}

.btn {
	background-color: #283593;
}
.btn:focus,
.btn:hover {
	background-color: #885c95;
}
.btn-large {
	background-color: #283593;
}
.btn-large:focus,
.btn-large:hover {
	background-color: #885c95;
}

.project-summary {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav-wrapper {
	background-color: rgb(240, 240, 240);
}
.right a:hover,
.right button:hover {
	background: #db91b67e;
}
.hearts {
	color: #f8bbd0;
}
a {
	color: #283593;
}
form {
	border-radius: 30px;
}
.MuiCircularProgress-colorPrimary {
	color: #f8bbd0 !important;
}
.MuiSlider-root {
	color: #f8bbd0 !important;
}
