h1,
h2,
h4,
h6 {
	/* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	letter-spacing: 0.12rem;
}

.pres {
	font-size: 1.2rem;
}

/* Fix for the flying logo */
@media only screen and (min-width: 565px) {
	.brand-logo {
		left: 15% !important;
	}
}
@media only screen and (max-width: 565px) {
	.brand-logo,
	.btn-floating,
	.notif-card {
		display: none !important;
	}
}

.card-action {
	border-bottom-left-radius: 30px !important;
	border-bottom-right-radius: 30px !important;
	background-color: #283593 !important;
	color: white;
}
.card {
	border-radius: 30px;
	background-color: white;
	color: black;
}
.card-content {
	height: 150px;
}

.purple-text {
	color: #283593 !important;
}

.btn-floating {
	background-color: #283593;
}
.btn {
	background-color: #283593;
	border-radius: 30px;
}
.btn:focus,
.btn:hover {
	background-color: #6e689be0;
}
.btn-sec {
	background-color: #f8bbd0;
	color: black;
	border-radius: 30px;
}
.btn-sec:focus,
.btn-sec:hover {
	background-color: #ffdce8ed;
}
.btn-large {
	border-radius: 30px;
	background-color: #283593;
}
.btn-large:focus,
.btn-large:hover {
	background-color: #6e689be0;
}

.project-summary {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav-wrapper {
	background-color: #eeeeee;
	border-width: 0px;
	box-shadow: 0 0 0 0;
}
.right a:hover,
.right button:hover {
	background: #db91b67e;
}
.hearts {
	color: #f8bbd0;
}
a {
	color: #283593;
}
form {
	border-radius: 30px;
}
.MuiCircularProgress-colorPrimary {
	color: #f8bbd0 !important;
}
.MuiSlider-root {
	color: #283593 !important;
}
.MuiMenuItem-root {
	font-size: 1.1rem !important;
}
.MuiSelect-root {
	font-size: 1.5rem !important;
	color: #283593 !important;
	font-weight: 600 !important;
	padding-bottom: 0px !important;
}
.slider-title {
	padding-top: 2rem;
}
.slider-row {
	background-color: #eeeeee;
}
.slider-contain {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	min-height: 10rem;
}
