.card {
	border-radius: 25px;
	background-color: white;
	color: black;
}
.card-action {
	border-bottom-left-radius: 25px !important;
	border-bottom-right-radius: 25px !important;
	background-color: #382980 !important;
	color: white;
}

.purple-text {
	color: #382980 !important;
}

.btn-floating {
	background-color: #382980;
}

.btn {
	background-color: #382980;
}
.btn:focus,
.btn:hover {
	background-color: #885c95;
}
.btn-large {
	background-color: #382980;
}
.btn-large:focus,
.btn-large:hover {
	background-color: #885c95;
}

.project-summary {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav-wrapper {
	background-color: rgb(240, 240, 240);
}
.right a:hover,
.right button:hover {
	background: #db91b67e;
}
.hearts {
	color: #db91b6;
}
a {
	color: #382980;
}
form {
	border-radius: 25px;
}
.MuiCircularProgress-colorPrimary {
	color: #db91b6 !important;
}
.MuiSlider-root {
	color: #db91b6 !important;
}
