.img-row {
	width: 100%;
	overflow: "hidden";
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #eeeeee;
	padding-bottom: 0px;
}

.land {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.land-head {
	height: calc(12rem + 20vw + 65px);
}
.land-who {
	height: calc(10rem + 12vw + 50px);
}
.land-sign {
	height: calc(20rem + 25vw + 50px);
}

.anchor {
	width: 200px;
}

.header-subrow {
	padding: 10px;
}

.goals {
	padding-top: calc(10vh + 5vw + 1rem);
	padding-bottom: calc(18vh + 10vw + 12rem);
}
.video {
	padding-top: calc(8vh + 5vw + 1.5rem);
	padding-bottom: calc(8vh + 5vw + 2rem);
}

@media only screen and (max-width: 565px) {
	.row {
		background-image: none !important;
	}
	.goals {
		padding-bottom: calc(30vh + 50vw);
	}
	#learn-more-landing,
	.anchor-link {
		display: none;
	}
}
